[build-system]
requires = ["setuptools>=65.5.1", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "api_edge"
version = "0.1.0"
description = "API Edge service"
requires-python = ">=3.11"
dependencies = [
  "fastapi>=0.112.0",
  "uvicorn[standard]>=0.29.0",
  "httpx>=0.27.0",
  "core_metrics",
  "core_config",
  "core_logging",
  "core_observability",
  "core_utils",
  "slowapi>=0.1.7",
  "redis>=5.0.3",
  "opentelemetry-api>=1.24",
  "opentelemetry-sdk>=1.24",
  "opentelemetry-exporter-otlp-proto-http>=1.24",
  "opentelemetry-instrumentation-fastapi>=0.46b0",
  "opentelemetry-instrumentation-redis>=0.46b0",
  "prometheus-client>=0.19.0"
]

[tool.setuptools.packages.find]
where = ["src"]
include = ["api_edge*"]

[tool.ruff]
line-length = 100
